<template>
  <spring-spinner class="spin-centre" :animation-duration="3000" :size="60" color="#ff1d5e" v-show="visible"/>
</template>

<script>
  import Vue from "vue";
  import 'epic-spinners/dist/lib/epic-spinners.min.css'
  import {SpringSpinner} from 'epic-spinners/dist/lib/epic-spinners.min.js'
  //import {SpringSpinner} from "epic-spinners"
  import EventBus from "@/utils/eventBus";

  const SPIN_ON_EVENT = "appSpinner.spinOn";

  const SPIN_OFF_EVENT = "appSpinner.spinOff";

  export {SPIN_ON_EVENT, SPIN_OFF_EVENT};

  export default Vue.extend({
    name: 'appSpinner',
    data() {
      return {
        visible: false
      }
    },

    components: {
      SpringSpinner
    },

    methods: {
      startSpinner() {
        this.visible = true;
      },

      stopSpinner() {
        this.visible = false
      }
    },

    created() {
      let eventBus = EventBus.getBus();

      eventBus.$on(SPIN_ON_EVENT, this.startSpinner);

      eventBus.$on(SPIN_OFF_EVENT, this.stopSpinner);
    },

    destroyed() {
      let eventBus = EventBus.getBus();
      eventBus.$off(SPIN_ON_EVENT, this.startSpinner);
      eventBus.$off(SPIN_OFF_EVENT, this.stopSpinner);
    }
  });
</script>


<style scoped>
.spin-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
}
</style>
