<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <img
        src="img/brand/sacc_tiny.png"
        class="img-avatar"
        alt="St Augustine DB Manager" />
    </template>\
    <template slot="dropdown">
      <b-dropdown-item><i class="fa fa-wrench" /> Settings</b-dropdown-item>
      <b-dropdown-item><i class="fa fa-lock" /> Logout</b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script>
import Vue from "vue";
import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
export default Vue.extend({
  name: 'DefaultHeaderDropdownAccnt',
  components: {
    AppHeaderDropdown
  },
  data: () => {
    return { itemsCount: 42 }
  }
});
</script>
