<template>
    <b-form @submit="updateCustomer" novalidate>
        <customer-info :customerId="customerId"></customer-info>
        <b-row>
            <b-col sm="12">
                <h2>Edit Customer Details</h2>
                <b-form-group>
                    <label for="firstname">First Name *</label>
                    <b-form-input 
                        required
                        name="firstname"
                        v-model="member.firstname" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="lastname">Last Name *</label>
                    <b-form-input 
                        required 
                        name="lastname"
                        v-model="member.lastname" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="othernames">Other Names</label>
                    <b-form-input
                        name="othernames"
                        v-model="member.othernames" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="phone_number">Phone Number *</label>
                    <b-form-input 
                        required
                        name="phone_number"
                        v-model="member.phone_number" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="phone_number2">Alternate Phone Number</label>
                    <b-form-input 
                        name="phone_number2"
                        v-model="member.phone_number2" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="home_address">Home Address</label>
                    <b-form-input 
                        name="home_address"
                        v-model="member.home_address" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="shop_address">Shop Address</label>
                    <b-form-input 
                        required
                        name="shop_address"
                        v-model="member.shop_address" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="nearest_busstop">Nearest Bus Stop</label>
                    <b-form-input 
                        required
                        name="nearest_busstop"
                        v-model="member.busstop" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="home_address">Type of Business</label>
                    <b-form-input 
                        required
                        name="business_type"
                        v-model="member.business_type" 
                        type="text">
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="nickname">Nick Name</label>
                    <b-form-input 
                        name="nickname"
                        v-model="member.nickname" 
                        type="text" >
                    </b-form-input>
                </b-form-group>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm="12">
                <b-button type="submit" block size="sm" variant="primary">
                    <i class="fa fa-dot-circle-o"></i> Update</b-button>
            </b-col>
        </b-row>

    </b-form>
</template>

<script>
import Vue from "vue";
import CustomerInfo from "@/views/customers/CustomerInfo.vue";

export default Vue.extend({
    name: "CustomerEdit",
    
    props: ["customerId"],

    components: {
        CustomerInfo
    },

    data() {
        return {
            member: {
                id: 1,
                firstname: "Obinna Agba",
                lastname: "Agba",
                othernames: "Stanley",
                home_address: "6, Zion Close, Ilaje Bariga",
                shop_address: "9, McEwen Street, Sabo Yaba",
                phone_number: "08027437842",
                phone_number2: "08157732440",
                nearest_busstop: "Sabo",
                nickname: "Teliov",
                business_type: "IT"
            }
        }
    },

    methods: {
        updateCustomer() {

        }
    }
})
</script>

