<template>
    <div>
        <!-- Search Bar -->
        <b-row>
            <b-col sm="12">
                <b-form-group label="Search" label-for="customerSearch" description="Search for customers">
                  <b-input-group>
                    <b-form-input id="customerSearch" type="text"></b-form-input>
                    <b-input-group-append>
                      <b-button variant="primary">Go!</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm="12">
                <b-table striped hover responsive="sm" :items="customers" :fields="table_fields">
                    <template slot="action" slot-scope="data">
                        <router-link :to="{name: 'CustomerDetail', params: {customerId: data.item.id }}">
                            <b-button :size="'sm'" :variant="'primary'">
                                View
                            </b-button>
                        </router-link>
                    </template>
                </b-table>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import Vue from "vue";

    export default Vue.extend({
        name: 'CustomerList',

        data() {
            return {
                table_fields: [
                    {key: "firstname",sortable: true},
                    {key: "lastname",sortable: true},
                    {key: "othernames",sortable: true},
                    {key: "home_address",sortable: false},
                    {key: "shop_address",sortable: false},
                    {key: "phone_number",sortable: true},
                    {key: "action", label: "", sortable: false}
                ],
                customers: [
                    {
                        id: 1,
                        firstname: "Obinna Agba",
                        lastname: "Agba",
                        othernames: "Stanley",
                        home_address: "6, Zion Close, Ilaje Bariga",
                        shop_address: "9, McEwen Street, Sabo Yaba",
                        phone_number: "08027437842"
                    },
                    {
                        id: 1,
                        firstname: "Obinna Agba",
                        lastname: "Agba",
                        othernames: "Stanley",
                        home_address: "6, Zion Close, Ilaje Bariga",
                        shop_address: "9, McEwen Street, Sabo Yaba",
                        phone_number: "08027437842"
                    },
                    {
                        id: 1,
                        firstname: "Obinna Agba",
                        lastname: "Agba",
                        othernames: "Stanley",
                        home_address: "6, Zion Close, Ilaje Bariga",
                        shop_address: "9, McEwen Street, Sabo Yaba",
                        phone_number: "08027437842"
                    },
                    {
                        id: 1,
                        firstname: "Obinna Agba",
                        lastname: "Agba",
                        othernames: "Stanley",
                        home_address: "6, Zion Close, Ilaje Bariga",
                        shop_address: "9, McEwen Street, Sabo Yaba",
                        phone_number: "08027437842"
                    }
                ]
            }
        },

        methods: {

        }
    });
</script>

<style scoped>

</style>
