<template>
    <div>
        <b-row>
            <b-col sm="4">
                <router-link :to="{name: 'CustomerDetail', params: {customerId: customer.id}}">
                    <div class="card">
                        <div class="card-body p-3 clearfix">
                            <i class="fa fa-user bg-primary p-3 font-2xl mr-3 float-left"></i>
                            <div class="h5 text-primary mb-0 mt-2">{{customer.firstname}} {{customer.lastname}}</div>
                            <div class="text-muted text-uppercase font-weight-bold font-xs">
                                {{customer.phone_number}}
                            </div>
                        </div>
                    </div>
                </router-link>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: 'CustomerInfo',
  
  props: ["customerId"],

  data() {
      return {
          customer: {
              id: 1,
              firstname: "Obinna Agba",
              lastname: "Agba",
              othernames: "Stanley",
              home_address: "6, Zion Close, Ilaje Bariga",
              shop_address: "9, McEwen Street, Sabo Yaba",
              phone_number: "08027437842",
              phone_number2: "08157732440",
              nickname: "Teliov",
              business_type: "IT"
        }
      }
  }
})
</script>

<style>

</style>

