<template>
    <b-form @submit="registerCustomer" novalidate>
        <b-row>
            <b-col sm="12">
                <h2>Please Enter Customer Details</h2>
                <b-form-group>
                    <label for="firstname">First Name *</label>
                    <b-form-input 
                        required
                        name="firstname"
                        v-model="member.firstname" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="lastname">Last Name *</label>
                    <b-form-input 
                        required 
                        name="lastname"
                        v-model="member.lastname" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="othernames">Other Names</label>
                    <b-form-input
                        name="othernames"
                        v-model="member.othernames" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="phone_number">Phone Number *</label>
                    <b-form-input 
                        required
                        name="phone_number"
                        v-model="member.phone_number" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="phone_number2">Alternate Phone Number</label>
                    <b-form-input 
                        name="phone_number2"
                        v-model="member.phone_number2" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="home_address">Home Address</label>
                    <b-form-input 
                        name="home_address"
                        v-model="member.home_address" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="shop_address">Shop Address</label>
                    <b-form-input 
                        required
                        name="shop_address"
                        v-model="member.shop_address" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="nearest_busstop">Nearest Bus Stop</label>
                    <b-form-input 
                        required
                        name="nearest_busstop"
                        v-model="member.busstop" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="home_address">Type of Business</label>
                    <b-form-input 
                        required
                        name="business_type"
                        v-model="member.business_type" 
                        type="text">
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="nickname">Nick Name</label>
                    <b-form-input 
                        name="nickname"
                        v-model="member.nickname" 
                        type="text" >
                    </b-form-input>
                </b-form-group>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm="12">
                <b-button type="submit" block size="sm" variant="primary">
                    <i class="fa fa-dot-circle-o"></i> Create</b-button>
            </b-col>
        </b-row>

    </b-form>
</template>

<script>
import Vue from "vue";

import {getNewMemberObject} from "@/models/customer";
import { setTimeout } from "timers";

export default Vue.extend({
    name: 'CustomerRegister',

    data() {
        return {
            member: getNewMemberObject(),
        }
    },

    methods: {
        registerCustomer(){
            let loader = this.$loading.show();
            setTimeout(() => {
                //console.log(this.member);
                this.$notify({
                    title: 'Success',
                    text: "Customer saved successfully"
                })
                loader.hide();
            });
        }
    }
})
</script>

<style scoped>

</style>


