<template>
    <div>
        <!-- personal information card -->
        <b-row>
            <b-col sm="12">
                <b-card
            header-tag="header"
            footer-tag="footer">
            <div slot="header">
              <i class="fa fa-user-circle"></i> <strong>Personal Details</strong>
              <div class="card-header-actions">
                  <router-link :to="{name: 'CustomerEdit', params:{id: customerId}}">
                      <b-button :variant="'primary'"> Edit Details </b-button>
                  </router-link>

                  <router-link :to="{name: 'CustomerLoans', params:{id: customerId}}">
                      <b-button :variant="'primary'"> View Loans </b-button>
                  </router-link>
              </div>
            </div>
            <div>
              <b-list-group>
                  <b-list-group-item :key="key" v-for="(value, key) in customer">
                      <label>{{key}}</label>
                      <h5> {{value}} </h5>
                  </b-list-group-item>                
            </b-list-group>
            </div>
          </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import Vue from "vue";
    export default Vue.extend({
        name: 'CustomerDetail',

        props: ["customerId"],

        data() {
            return {
                customer: {
                    id: 1,
                    firstname: "Obinna",
                    lastname: "Agba",
                    othernames: "Stanley",
                    home_address: "6, Zion Close, Ilaje Bariga",
                    shop_address: "9, McEwen Street, Sabo, Yaba, Lagos",
                    phone_number: "08027437842",
                    phone_number2: "08157732440",
                    nickname: "Teliov",
                    business_type: "Software",
                    nearest_busstop: "Sabo"
                }
            }
        }
    })
</script>

<style>

</style>


