<template>
    <div>
        <b-row>
            <b-col sm="12">
                <b-form-group label="Search" label-for="loanSearch" description="Search for loans">
                  <b-input-group>
                    <b-form-input id="loanSearch" type="text"></b-form-input>
                    <b-input-group-append>
                      <b-button variant="primary">Go!</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-money bg-primary p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">5</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Loans
                    </div>
                    </div>
                </div>
            </b-col>

            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-check bg-success p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">3</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Paid
                    </div>
                    </div>
                </div>
            </b-col>

            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-times bg-danger p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">2</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Owing
                    </div>
                    </div>
                </div>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm="12">
                <b-card header-tag="header" footer-tag="footer">
                    <div slot="header">
                        <i class="fa fa-user-money"></i> <strong>Loans</strong>
                    </div>

                    <div>
                        <b-table striped hover responsive="sm" :items="loans" :fields="table_fields">
                            <template slot="action" slot-scope="data">
                                <router-link :to="{name: 'LoanDetail', params: {loanId: data.item.id }}">
                                    <b-button :size="'sm'" :variant="'primary'">
                                        View Details
                                    </b-button>
                                </router-link>
                            </template>
                        </b-table>
                    </div>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from "vue";
import moment from "moment";

export default Vue.extend({
    name: 'LoanList',

    data() {
        return {
            table_fields: [
                {key: "amount",sortable: true, label: "Amount (NGN)"},
                {key: "disbursed_at",sortable: true},
                {key: "due_at",sortable: true},
                {key: "interest",sortable: true},
                {key: "payback",sortable: true, label: "Payback (NGN)"},
                {key: "action", label: "",}
            ],
            loans: [
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    payback: Math.ceil(Math.random()) * 1000,
                    disbursed_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    due_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()*10) * 1000,
                    interest: 10,
                    payback: Math.ceil(Math.random()) * 1000,
                    disbursed_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    due_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()*10) * 1000,
                    interest: 10,
                    payback: Math.ceil(Math.random()*10) * 1000,
                    disbursed_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    due_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()*10) * 1000,
                    interest: 10,
                    payback: Math.ceil(Math.random()*10) * 1000,
                    disbursed_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    due_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                }
            ]
        }
    }
})
</script>

<style>

</style>