<template>
    <div>
        <b-row>
            <b-col sm="12">
                <b-form-group label="Search" label-for="investmentSearch" description="Search for investments">
                  <b-input-group>
                    <b-form-input id="investmentSearch" type="text"></b-form-input>
                    <b-input-group-append>
                      <b-button variant="primary">Go!</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-money bg-primary p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">5</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Investments
                    </div>
                    </div>
                </div>
            </b-col>

            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-circle-o-notch bg-warning p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">3</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Active
                    </div>
                    </div>
                </div>
            </b-col>

            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-circle-o bg-success p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">2</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Completed
                    </div>
                    </div>
                </div>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm="12">
                <b-card header-tag="header" footer-tag="footer">
                    <div>
                        <b-table striped hover responsive="sm" :items="investments" :fields="table_fields">
                            <template slot="action" slot-scope="data">
                                <router-link :to="{name: 'InvestmentDetail', params: {investmentId: data.item.id }}">
                                    <b-button :size="'sm'" :variant="'primary'">
                                        View Details
                                    </b-button>
                                </router-link>
                            </template>
                        </b-table>
                    </div>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from "vue";
import moment from "moment";

export default Vue.extend({
    name: 'InvestmentList',

    data() {
        return {
            table_fields: [
                {key: "amount",sortable: true, label: "Amount (NGN)"},
                {key: "invested_at",sortable: true},
                {key: "type",sortable: true},
                {key: "interest",sortable: true, label: "Interest (%)"},
                {key: "ends_at",sortable: true},
                {key: "action", label: "",}
            ],
            investments: [
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    type: "Simple",
                    ends_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    invested_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    type: "Compounding",
                    ends_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    invested_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    type: "Simple",
                    ends_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    invested_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    type: "Compounding",
                    ends_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    invested_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                }
            ]
        }
    }
})
</script>

<style>

</style>