<template>
    <b-form @submit="addInvestor" novalidate>
        <b-row>
            <b-col sm="12">
                <h2>Please Enter Investor Details</h2>
                <b-form-group>
                    <label for="firstname">First Name *</label>
                    <b-form-input 
                        required
                        name="firstname"
                        v-model="investor.firstname" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="lastname">Last Name *</label>
                    <b-form-input  
                        name="lastname"
                        v-model="investor.lastname" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="email">Email</label>
                    <b-form-input 
                        name="email"
                        v-model="investor.email" 
                        type="email" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="phone_number">Phone Number *</label>
                    <b-form-input 
                        required
                        name="phone_number"
                        v-model="investor.phone_number" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="phone_number2">Alternate Phone Number</label>
                    <b-form-input 
                        name="phone_number2"
                        v-model="investor.phone_number2" 
                        type="text" >
                    </b-form-input>
                </b-form-group>

                <b-form-group>
                    <label for="address">Address</label>
                    <b-form-input 
                        name="address"
                        v-model="investor.address" 
                        type="text" >
                    </b-form-input>
                </b-form-group>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm="12">
                <b-button type="submit" block size="sm" variant="primary">
                    <i class="fa fa-dot-circle-o"></i> Add</b-button>
            </b-col>
        </b-row>

    </b-form>
</template>

<script>
import Vue from "vue";

import {getNewInvestorObject} from "@/models/investor";

export default Vue.extend({
    name: 'InvestorRegister',

    data() {
        return {
            investor: getNewInvestorObject()
        }
    },

    methods: {
        addInvestor() {

        }
    }
});
</script>

<style>

</style>