<template>
    <div>
        <!-- personal information card -->
        <b-row>
            <b-col sm="12">
                <b-card
            header-tag="header"
            footer-tag="footer">
            <div slot="header">
              <i class="fa fa-user-circle"></i> <strong>Investor Details</strong>
              <div class="card-header-actions">
                  <router-link :to="{name: 'InvestorEdit', params:{investorId: investorId}}">
                      <b-button :variant="'primary'"> Edit Details </b-button>
                  </router-link>

                  <router-link :to="{name: 'InvestorInvestments', params:{investorId: investorId}}">
                      <b-button :variant="'primary'"> View Investments </b-button>
                  </router-link>
              </div>
            </div>
            <div>
              <b-list-group>
                  <b-list-group-item :key="key" v-for="(value, key) in investor">
                      <label>{{key}}</label>
                      <h5> {{value}} </h5>
                  </b-list-group-item>                
            </b-list-group>
            </div>
          </b-card>
            </b-col>
        </b-row> 
    </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
    name: 'InvestorDetail',

    props: ["investorId"],

    data() {
        return {
            investor: {
                id: 1,
                firstname: "Obinna",
                lastname: "Agba",
                email: "teliovcroby@gmail.com",
                address: "9, McEwen Street, Sabo, Yaba",
                phone_number: "08027437842"
            }
        }
    }
})
</script>

<style>

</style>
