<template>
    <div>
        <investor-info :investorId="investor.id"></investor-info>
        <b-row>
            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-money bg-primary p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">5</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Investments
                    </div>
                    </div>
                </div>
            </b-col>

            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-circle-o-notch bg-warning p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">3</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Active
                    </div>
                    </div>
                </div>
            </b-col>

            <b-col sm=4>
                <div class="card">
                    <div class="card-body p-3 clearfix">
                        <i class="fa fa-circle-o bg-success p-3 font-2xl mr-3 float-left"></i>
                    <div class="h5 text-primary mb-0 mt-2">2</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">
                        Completed
                    </div>
                    </div>
                </div>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm="12">
                <b-card header-tag="header" footer-tag="footer">
                    <div slot="header">
                        <i class="fa fa-user-money"></i> <strong>Investment</strong>
                        <div class="card-header-actions">
                            <b-button :variant="'primary'"> 
                                Make New Investment <i class="fa fa-plus"></i>
                            </b-button>
                        </div>
                    </div>

                    <div>
                        <b-table striped hover responsive="sm" :items="investments" :fields="table_fields">
                            <template slot="action" slot-scope="data">
                                <router-link :to="{name: 'InvestmentDetail', params: {investmentId: data.item.id }}">
                                    <b-button :size="'sm'" :variant="'primary'">
                                        View Details
                                    </b-button>
                                </router-link>
                            </template>
                        </b-table>
                    </div>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from "vue";
import moment from "moment";

import InvestorInfo from "@/views/investors/InvestorInfo.vue";

export default Vue.extend({
    name: 'InvestorInvestments',

    props: ["investorId"],

    components: {
        InvestorInfo
    },

    data() {
        return {
            table_fields: [
                {key: "amount",sortable: true, label: "Amount (NGN)"},
                {key: "invested_at",sortable: true},
                {key: "type",sortable: true},
                {key: "interest",sortable: true},
                {key: "ends_at",sortable: true},
                {key: "action", label: "",}
            ],
            investor: {
                id: 1,
                firstname: "Obinna",
                lastname: "Agba",
                email: "teliovcroby@gmail.com",
                address: "9, McEwen Street, Sabo, Yaba",
                phone_number: "08027437842"
            },
            investments: [
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    type: "Simple",
                    ends_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    invested_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    type: "Compounding",
                    ends_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    invested_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    type: "Simple",
                    ends_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    invested_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                },
                {
                    id: (new Date).getTime() + Math.ceil(Math.random()),
                    amount: Math.ceil(Math.random()) * 1000,
                    interest: 10,
                    type: "Compounding",
                    ends_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY'),
                    invested_at: moment().add(Math.ceil(Math.random()*10), 'days').format('MMM Do YYYY')
                }
            ]
        }
    }
})
</script>

<style>

</style>