<template>
    <div>
        <!-- Search Bar -->
        <b-row>
            <b-col sm="12">
                <b-form-group label="Search" label-for="investorSearch" description="Search for investors">
                  <b-input-group>
                    <b-form-input id="investorSearch" type="text"></b-form-input>
                    <b-input-group-append>
                      <b-button variant="primary">Go!</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
            </b-col>
        </b-row>

        <b-row>
            <b-col sm="12">
                <b-table striped hover responsive="sm" :items="investors" :fields="table_fields">
                    <template slot="action" slot-scope="data">
                        <router-link :to="{name: 'InvestorDetail', params: {investorId: data.item.id }}">
                            <b-button :size="'sm'" :variant="'primary'">
                                View
                            </b-button>
                        </router-link>
                    </template>
                </b-table>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
    name: 'InvestorList',

    data() {
        return {
            table_fields: [
                {key: "firstname", sort:true},
                {key: "lastname", sort:true},
                {key: "email", sort:true},
                {key: "phone_number", sort: true},
                {key: "address"},
                {key: "action", label:""}
            ],

            investors: [
                {
                    id: 1,
                    firstname: "Obinna",
                    lastname: "Agba",
                    email: "teliovcroby@gmail.com",
                    address: "9, McEwen Street, Sabo, Yaba",
                    phone_number: "08027437842"
                },
                {
                    id: 1,
                    firstname: "Obinna",
                    lastname: "Agba",
                    email: "teliovcroby@gmail.com",
                    address: "9, McEwen Street, Sabo, Yaba",
                    phone_number: "08027437842"
                },
                {
                    id: 1,
                    firstname: "Obinna",
                    lastname: "Agba",
                    email: "teliovcroby@gmail.com",
                    address: "9, McEwen Street, Sabo, Yaba",
                    phone_number: "08027437842"
                },
                {
                    id: 1,
                    firstname: "Obinna",
                    lastname: "Agba",
                    email: "teliovcroby@gmail.com",
                    address: "9, McEwen Street, Sabo, Yaba",
                    phone_number: "08027437842"
                },
                {
                    id: 1,
                    firstname: "Obinna",
                    lastname: "Agba",
                    email: "teliovcroby@gmail.com",
                    address: "9, McEwen Street, Sabo, Yaba",
                    phone_number: "08027437842"
                }
            ]
        }
    }
})
</script>

<style>

</style>
