<template>
    <div>
        <b-row>
            <b-col sm="4">
                <router-link :to="{name: 'InvestorDetail', params: {investorId: investor.id}}">
                    <div class="card">
                        <div class="card-body p-3 clearfix">
                            <i class="fa fa-user bg-primary p-3 font-2xl mr-3 float-left"></i>
                            <div class="h5 text-primary mb-0 mt-2">{{investor.firstname}} {{investor.lastname}}</div>
                            <div class="text-muted text-uppercase font-weight-bold font-xs">
                                {{investor.phone_number}}
                            </div>
                        </div>
                    </div>
                </router-link>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  name: 'InvestorInfo',
  
  props: ["investorId"],

  data() {
      return {
          investor: {
                id: 1,
                firstname: "Obinna",
                lastname: "Agba",
                email: "teliovcroby@gmail.com",
                address: "9, McEwen Street, Sabo, Yaba",
                phone_number: "08027437842"
            }
      }
  }
})
</script>

<style>

</style>

